#mainHeader {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  background-image: url('https://www.transparenttextures.com/patterns/slash-it.png');
}

#personName {
  color: white;
}
