html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

/* defined a specific color for body */
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
}

#errorTweet1 {
  display: none;
}
#errorTweet2 {
  display: none;
}
#errorTweet1 .fa {
  color: red;
  padding: 0 10px 0 0;
}

#errorTweet2 .fa {
  color: red;
  padding: 0 10px 0 0;
}

#upScroll {
  position: fixed;
  top: 90%;
  right: 0.75%;
  color: white;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
