/* Styles for nav bar */

nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;

  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 999;
}

#logo {
  font-family: 'Bungee', cursive;
}

#navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

#bounceArrow {
  color: red;
}

#rightSideOfNav:hover #bounceArrow {
  color: red;
  animation: moveDown 1s ease-in-out;
  animation-delay: 10ms;
}

@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

#rightSideOfNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rightSideOfNav:hover {
  cursor: pointer;
}
