/* Styles for nav bar. superimpose it over other elements when page scroll down.  */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 999;
}

#logo {
  font-family: 'Bungee', cursive;
}

/* used css flexbox for alignment  */
#navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

/* created the bouncing down arrow */
#bounceArrow {
  color: red;
}

/* created the animation effect for the bouncing arrow, on hover */
#rightSideOfNav:hover #bounceArrow {
  color: red;
  animation: moveDown 1s ease-in-out;
  animation-delay: 10ms;
}

/* arrow jumps up and down by 25px, part of the animation effect */
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* used css flexbox for alignment */
#rightSideOfNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rightSideOfNav:hover {
  cursor: pointer;
}
