.tweets-display {
  padding: 1.5em 0 0 0;
}
#userString {
  display: none;
}

.tweetArticle {
  border: 2px solid black;
  margin: 0 0 1.25em 0;
}
.tweetArticle:hover {
  border: 2px solid black;
  box-shadow: 5px 10px grey;
  margin: 0 0 1.25em 0;
}

#tweetHeads {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

#userImgAndName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#userName {
  padding: 0.5em;
}
#userTweetContent {
  padding: 1em;
}

#userContentDivider {
  width: 97%;
  height: 2px;
  background-color: black;
}

#tweetFoots {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.fa {
  padding: 0 0 0 10px;
  color: #545149;
}
